.footer {
    background-color: #151616;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;

  }
  
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 50px;

  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icon {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .social-icon:hover {
    color: #0056b3;
  }
  